body {
    font-family: sans-serif;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
}

.container {
    background-color: #fff;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    font-size: 2em;
    margin-bottom: 15px;
}

p {
    margin-bottom: 10px;
}

#inputText {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 90%;
    margin-bottom: 15px;
    overflow: hidden;
}

#generateButton {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

#generateButton:hover {
    background-color: #222;
}

#qr-container {
    width: 250px;
    margin: 20px auto;
}

#qr-container img {
    width: 100%;
}

.downloadBtn {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #ccc;
    color: #000;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
